<section class="hero">
  <h2>Hero</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse maxime dolorum expedita facere iure incidunt veritatis modi? Deleniti, beatae error?</p>
</section>